/*.form-signin
{
max-width: 330px;
padding: 15px;
margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
margin-bottom: 10px;
}
.form-signin .checkbox
{
font-weight: normal;
}
.form-signin .form-control
{
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-signin .form-control:focus
{
z-index: 2;
}
.form-signin input[type="text"]
{
margin-bottom: -1px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.account-wall
{
margin-top: 20px;
padding: 40px 0px 20px 0px;
background-color: #f7f7f7;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
color: #555;
font-size: 18px;
font-weight: 400;
display: block;
}
.profile-img
{
width: 96px;
height: 96px;
margin: 0 auto 10px;
display: block;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.need-help
{
margin-top: 10px;
}
.new-account
{
display: block;
margin-top: 10px;
}*/

@media screen and (max-width: 480px) {
    .footer {
        position: relative !important;
    }

    .wrapper-footer {
        height: 90px !important;
    }

    .login-content {
        height: 680px !important;
    }

    .container-link a {
        width: 33.3333% !important;
        margin-bottom: 5px;
    }

    .container-link-page a {
        width: 33.3333% !important;
        margin-bottom: 5px;
    }

    .container-link-page {
        overflow: hidden;
        width: auto !important;
        margin: auto !important;
        margin-bottom: 5px;
    }

    .container {
        min-height: 680px !important;
    }
}

@media only screen and (max-width: 550px) {
    .grid100 {
        width: 100%;
    }
}

.login-content {
    height: 720px;
}

/*input.valid, input.valid[type="text"], input.valid[type="password"], input.valid[type="date"], input.valid[type="number"], select.valid, select.valid {
    background-color: #ffffff;
    border-left: 5px solid #088b0b;
}

input.input-validation-error, input.input-validation-error[type="text"], input.input-validation-error[type="password"], input.input-validation-error[type="date"], input.input-validation-error[type="number"], select.input-validation-error, select.input-validation-error {
    background-color: #ffffff;
    border-left: 5px solid #ff0000;
}*/

/*.field-validation-error, .validation-summary-errors {
    color: #ff0000;
}*/


/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fbfbfb;
    border: 1px solid #ddd;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

.profile-usermenu {
    margin-top: 30px;
    min-height: 190px;
}

    .profile-usermenu ul li {
        border-bottom: 1px solid #e7ecef;
    }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li a {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

            .profile-usermenu ul li a i {
                margin-right: 8px;
                font-size: 14px;
            }

            .profile-usermenu ul li a:hover {
                background-color: #fafcfd;
                color: #5b9bd1;
            }

        .profile-usermenu ul li.active {
            border-bottom: none;
        }

            .profile-usermenu ul li.active a {
                color: #5b9bd1;
                background-color: #e3eaef;
                border-left: 2px solid #5b9bd1;
                margin-left: -2px;
            }

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fbfbfb;
    min-height: 435px;
    border: 1px solid #ddd;
}
/*profile page*/
.form-control {
    border-radius: 2px;
}

.bg-success {
    padding: 10px;
}

.form-control-cbb {
    padding: 5px;
}


.avatar-edit-right {
    overflow: hidden;
}

    .avatar-edit-right .thumbnails {
        float: left;
        margin-top: 15px;
        font-weight: bold;
        width: 180px;
    }

        .avatar-edit-right .thumbnails .thumbnails-img {
            float: left;
            margin: 10px 0;
            width: 100%;
        }

            .avatar-edit-right .thumbnails .thumbnails-img img {
                border: #eee 1px solid;
                padding: 11px;
                background: #fff;
                border-radius: 5px;
                -moz-border-radius: 5px;
            }

    .avatar-edit-right .thumbnails-edit {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        border: #ccc 1px solid;
        padding: 10px;
        background: #fff;
        display: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .avatar-edit-right .thumbnails .edit-ava-but a {
        height: 31px;
        border: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        width: 137px;
        color: #fff;
        padding-left: 35px;
        float: left;
        padding-top: 7px;
        background: url(../Scripts/uploadify/upload-avatar.png) 0 -32px no-repeat;
    }

    .avatar-edit-right .thumbnails-edit .edit-popup {
        clear: both;
        float: left;
        margin-top: 8px;
    }

        .avatar-edit-right .thumbnails-edit .edit-popup a {
            background: rgb(122,188,255); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
            color: #fff;
            border: #4096ee 1px solid;
            padding: 3px 9px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            font-weight: bold;
        }

    .avatar-edit-right .avatar-browse {
        float: left;
        margin: 10px 0 15px 0;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        border-bottom: #ddd 1px solid;
        padding-bottom: 15px;
    }

        .avatar-edit-right .avatar-browse .upload-button {
            margin-top: 10px;
            float: left;
            width: 100%;
        }

            .avatar-edit-right .avatar-browse .upload-button input {
                height: 31px;
                border: none;
                cursor: pointer;
                font-size: 12px;
                font-weight: bold;
                width: 137px;
                color: #fff;
                padding-left: 25px;
                background: url(../images/upload-avatar.png) 0 0px no-repeat;
            }

    /* new avatar info */
    .avatar-edit-right .menu {
        padding: 0;
        clear: both;
    }

        .avatar-edit-right .menu li {
            display: inline;
        }

            .avatar-edit-right .menu li a {
                background: #e7e7e7;
                padding: 13px 15px 10px 15px;
                float: left;
                margin-right: 1px;
                text-decoration: none;
                color: #000;
                font-weight: bold;
                border-bottom: 3px solid #e7e7e7;
            }

            .avatar-edit-right .menu li.active a {
                background: #f6f6f6;
                border-bottom: 3px solid #FF6600;
            }

    .avatar-edit-right .uploadImage {
        background: url("/Scripts/uploadify/upload-button.png") no-repeat center center;
        border-radius: 0px !important;
        font-size: 14px !important;
        color: #fff;
        font-weight: 700;
        width: 110px !important;
        height: 110px !important;
        border: #ddd 1px solid;
        padding: 3px;
    }

    .avatar-edit-right .content {
        clear: both;
        border-top: none;
        border-left: none;
        overflow: hidden;
    }

.crop-descr {
    padding: 10px 0;
}

.avatar-edit-right .list-avatar-item {
    float: left;
    width: 110px;
    height: 110px;
    margin: 10px;
}

    .avatar-edit-right .list-avatar-item a {
        position: relative;
        display: block;
    }

.avatar-action {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: bold;
    background-color: #1A92E9;
    text-align: center;
    visibility: hidden;
}

    .avatar-action span {
        color: #FFF;
    }

.avatar-edit-right .list-avatar-item a:hover img {
    border: #FF6600 1px solid;
}

.avatar-edit-right .list-avatar-item a.selected img {
    border: #FF6600 1px solid;
}

.avatar-edit-right .list-avatar-item img {
    padding: 3px;
    width: 110px;
    height: 110px;
    border: #ddd 1px solid;
}
/* end new avatar info */

.header {
    background: #eee;
    padding: 0 0 10px;
    position: relative;
}

.wrapper {
    clear: both;
    margin: 0 auto;
    background: url(/Content/images/foody-corp.png)no-repeat center center;
    background-size: 100px;
    height: 35px;
    margin-bottom: 8px;
}

.header-line {
    width: 100%;
    height: 4px;
    background-color: #ed1c24;
    margin-bottom: 10px;
    clear: both;
}

.footer {
    background: #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.wrapper-footer {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    height: 55px;
}

    .wrapper-footer span {
        clear: both;
        display: block;
        text-align: center;
        font-size: 11px;
        color: #999;
    }

.footer-page {
    background: #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.wrapper-footer-page {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
}

    .wrapper-footer-page span {
        clear: both;
        display: block;
        text-align: center;
        font-size: 11px;
        color: #999;
    }

.container-link-wrapper {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.container-text-wrapper {
    margin-top: 5px;
}

.container-link-page {
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

    .container-link-page a {
        width: 16.6666%;
        text-align: center;
        position: relative;
        display: block;
        float: left;
        padding: 0 10px;
        text-decoration: none;
    }

        .container-link-page a img {
            width: 30px;
        }

        .container-link-page a span {
            color: #707070;
            display: block;
            margin-top: 8px;
            font-size: 11px;
        }

.footer-line {
    width: 100%;
    /*height:4px;*/
    background-color: #ed1c24;
}

body {
    padding-top: 60px;
}

.navbar-default {
    background-color: #eee;
    border: none;
}

.phone-form {
    display: none;
}

.social-accountkit-btn-phone {
    background-color: #0b872e;
    display: block;
    color: #fff;
    /*padding: 8px 10px;*/
    text-align: center;
    border-radius: 3px;
}

    .social-accountkit-btn-phone .icon-contain-phone {
        height: 36px;
        float: left;
        background-color: #096222;
        width: 36px;
        padding: 3px 5px 5px 10px;
    }

    .social-accountkit-btn-phone:hover {
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

.mobile-icon {
    font-size: 30px !important;
    float: left;
}

.mobile-text {
    padding-top: 8px;
}

.error-container {
    padding: 20px;
    overflow: hidden;
    min-height: 365px;
}

    .error-container .error-mess-contain {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

.error-icon {
    background: url(images/error-icon.png) no-repeat;
    height: 160px;
    background-position-x: 85px;
}

.error-header {
    font-size: 50px;
    color: #636363;
    padding: 20px;
}

.error-mess {
    font-size: 16px;
    color: #d7d7d7;
}

.mobile-content-white {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: #f5f5f5;
    clear: both;
    overflow: hidden;
}

.mobile-content {
    font-size: 12px;
    color: #111;
    width: 1170px;
    margin: 0 auto;
}

.mobile-footer {
    text-align: center;
}

.mobile-download {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.mobile-footer .mf-list-app {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

    .mobile-footer .mf-list-app > li {
        display: inline-block;
        margin: 0 10px;
    }

        .mobile-footer .mf-list-app > li img {
            width: 120px;
        }

.mobile-content {
    font-size: 12px;
    color: #111;
    width: 1170px;
    margin: 0 auto;
}

.mobile-qr {
    margin-bottom: 30px;
}

.mobile-qr-line {
    border-bottom: 1px solid #c2c2c2;
    margin: 0 auto;
    width: 405px;
    margin-bottom: 49px;
}

.mobile-qr-text-content {
    background-color: #f5f5f5;
    width: 180px;
    margin: 0 auto;
}

.mobile-qr-text {
    width: 125px;
    margin: 0 auto;
    background-color: #898989;
    color: #fff;
    padding: 6px;
    font-size: 10px;
    border-radius: 10px;
    margin-top: -62px;
}

.mobile-qr-name {
    font-size: 14px;
    padding-top: 15px;
}

.code-container {
    width: 375px;
    margin: 30px auto;
    overflow: hidden;
}

.code-circle {
    background-color: #b7b7b7;
    font-size: 80px;
    color: #fff;
    text-align: center;
    width: 114px;
    border-radius: 114px;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.code-mess-container {
    clear: both;
    width: 390px;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
    color: #636363;
}

.code-mess-header {
    font-size: 30px;
}

.code-mess-content {
    padding-top: 15px;
    font-size: 14px;
}

.code-mess-btn {
    background: #ed1c24;
    color: #fff;
    padding: 8px;
    text-align: center;
    display: block;
    width: 200px;
    border-radius: 8px;
    margin: auto;
    margin-top: 30px;
}

.error-container a:hover {
    color: #fff;
    text-decoration: none;
}

.popup-confirm {
    background: #fff;
    padding: 10px 25px 15px 25px;
    width: 305px;
    border-radius: 3px;
    display: none;
}

    .popup-confirm .pass-input {
        padding: 3px;
        float: left;
        margin-right: 10px;
    }

    .popup-confirm .pass-btn {
        float: right;
        background: #2379c3;
        color: #fff;
        padding: 5px 8px;
        cursor: pointer;
    }

    .popup-confirm .pass-label {
        margin-bottom: 5px;
    }

.address-popup {
    width: 640px;
    min-height: 250px;
    background-color: #fff;
    display: none;
    border-radius: 2px;
    padding-bottom: 15px;
}

    .address-popup .title {
        font-weight: 700;
        padding: 15px;
        font-size: 16px;
        border-bottom: #eee 1px solid;
    }

    .address-popup .btn-close {
        position: absolute;
        right: -18px;
        top: -25px;
        color: #fff;
        cursor: pointer;
        font-size: 22px;
    }

    .address-popup .address-group-line {
        clear: both;
        border-bottom: 1px solid #eee;
        margin: 0 10px 10px 10px;
    }

    .address-popup .content-save {
        text-align: center;
        padding: 8px;
        font-size: 16px;
        background: #007fdc;
        font-weight: 700;
        border-radius: 2px;
        cursor: pointer;
        color: #fff;
        width: 150px;
        margin: 0 auto;
    }

    .address-popup .content-save-disable {
        background: #ccc;
        cursor: auto;
    }

    .address-popup .select {
        border: #ddd 1px solid;
        padding: 5px;
        font-size: 14px;
    }

.content-info {
    clear: both;
    padding: 10px 15px 10px 15px;
    overflow: hidden;
}

    .content-info .info-item {
        line-height: 35px;
        float: left;
        width: 50%;
    }

.info-item .info-item-title {
    float: left;
    padding: 0 10px;
    width: 110px;
    margin-bottom: 5px;
}

.info-item .info-item-content {
    float: left;
}

.info-item-content input {
    border: #ddd 1px solid;
    padding: 0px 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.info-item span {
    color: #cc0000;
}

.pp-verify {
    display: none;
    background: #fff;
    border-radius: 3px;
}

    .pp-verify a {
        text-decoration: none;
    }

        .pp-verify a:hover {
            text-decoration: none;
        }

    .pp-verify .fd-popup-frame {
        width: 300px;
        padding: 10px 10px 0 10px;
    }

    .pp-verify .va-content {
        text-align: center;
        padding: 10px 15px 15px 15px;
        border-bottom: 1px solid #ddd;
    }

    .pp-verify .va-btn-content {
    }

    .pp-verify .va-btn {
        width: 50%;
        display: block;
        float: left;
        padding: 10px;
        text-align: center;
        font-weight: 700;
        border-right: 1px solid #ddd;
    }
