
<ul class="list-inline small-tab-list-buttons">
    <li>
        <a href="@Url.Action("Index", "Location")" id="lnkViewData" class="btn btn-default btn-block menuTab @(Model == "view" ? new HtmlString("active") :
           new HtmlString(""))"><i class="fa fa-bars"></i>&nbsp;&nbsp;Danh sách</a>
    </li>
    <li>
        <a href="@Url.Action("Create", "Location")" id="lnkCreate" class="btn btn-default btn-block menuTab @(Model == "create" ? new HtmlString("active") :
            new HtmlString(""))"><i class="fa fa-plus"></i>&nbsp;&nbsp;Thêm mới</a>
    </li>
</ul>
