<br />
<br />
<footer>
   
    @*<div class="pull-left">
        Version: <strong>@ViewBag.Version</strong>
    </div>*@

    <div class="pull-right">
        <strong>&copy; @DateTime.Now.Year.ToString() <a href="http://www.newstead.com.sg/" target="_blank">Newstead Technologies Pte. Ltd.</a></strong> All rights reserved.
    </div>
    <div class="clearfix"></div>
</footer>