<br />
<br />
<footer>
   
    @*<div class="pull-left">
        Version: <strong>@ViewBag.Version</strong>
    </div>*@

    <div class="pull-right">
        <strong>&copy; @DateTime.Now.Year.ToString() <a href="#" target="_blank">Minh Thạch Q12. HCM.</a></strong>
    </div>
    <div class="clearfix"></div>
</footer>