@*For header*@
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 at-full-wd480">
            <p><i class="icofont icofont-ui-head-phone"></i> +1 202 110 1122</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 at-full-wd480">
            <p class="at-respo-right">
                <i class="icofont icofont-email"></i> <a href="#">info@yourmail.com</a>
            </p>
        </div>
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-1 col-sm-3 col-xs-6 at-full-wd480">
            <div class="at-sign-in-up clearfix">
                @{
                    var user = Session["UserClient"] as ProjectWebSaleLand.Shared.Models.UserSession;
                    if (user != null)
                    {
                        <p>@user.UserName</p>
                        <p>
                            <i class="icofont icofont-logout"></i><a href="@Url.Action("Logout","Login")">Đăng xuất</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            <i class="icofont icofont-sign-in"></i><a href="@Url.Action("SignIn","Login")">Đăng nhập</a>
                        </p>
                        <p>
                            <i class="icofont icofont-pencil-alt-2"></i> <a href="@Url.Action("SignUp","Login")">Đăng ký</a>
                        </p>
                    }
                }
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 at-full-wd480">
            <div class="at-social text-right">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                @*<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
                @*<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>*@
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
    

