@*For top navigation page*@    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="index-one.html">
                        <img src="images/logo.png" alt="">
                    </a>*@
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="@Url.Action("Index","Home")" @*class="dropdown-toggle" data-toggle="dropdown" role="button"*@ aria-haspopup="true" aria-expanded="false">Trang chủ @*<i class="fa fa-angle-down" aria-hidden="true"></i>*@</a>
                            @*<ul class="dropdown-menu">
                                <li>
                                    <a href="index-one.html">Home one</a>
                                </li>
                                <li>
                                    <a href="index-two.html">Home two</a>
                                </li>
                                <li>
                                    <a href="index-three.html">Home Three</a>
                                </li>
                                <li>
                                    <a href="index-four.html">Home four</a>
                                </li>
                            </ul>*@
                        </li>
                        <li>
                            <a href="@Url.Action("Index","About")">Giới thiệu</a>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Properties <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="properties-col-3.html">Properties 3 columns</a>
                                </li>
                                <li>
                                    <a href="properties-col-4.html">Properties 4 columns</a>
                                </li>
                                <li>
                                    <a href="properties-right-sidebar.html">Properties right sidebar</a>
                                </li>
                                <li>
                                    <a href="properties-left-sidebar.html">Properties left sidebar</a>
                                </li>
                                <li>
                                    <a href="properties-details.html">Properties details</a>
                                </li>
                            </ul>
                        </li>*@
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="agents.html">Our agents</a>
                                </li>
                                <li>
                                    <a href="agents-details.html">agents details</a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="">
                            <a href="#">Diễn đàn</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                @*<li>
                                    <a href="testimonials.html">Testimonials</a>
                                </li>*@
                                <li>
                                    <a href="#">Dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="#">Faq's Page</a>
                                </li>
                                @*<li>
                                    <a href="error.html">Error page</a>
                                </li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Contact")">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
    