
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}
<style>
    .contentabct {
        background: url(../images/bgaboutcontact.png);
        height: 500px;
        padding-top: 15px;
    }
</style>

<div class="form-group contentabct">
    <div class="container">
        <div class="row">
            <h2>Công ty TTHH T.A.T</h2>
            <p>nhadatthachminh.com - Địa chỉ 132/1, đường TL 28, Khu phố 3C, Phường Thạch Lộc, Quận 12, TP.Hồ Chí Minh.
            </p>
            <p>
                Điện thoại: (+84) 988 138 565 | Email: thachminh79@gmail.com
            </p>
            <p>Nhà Đất Thạch Minh là sân chơi của môi giới để đăng những BĐS thật và chất lượng, mang đến nhiều thông tin trung thực và tính minh bạch cao trên từng khu vực dành cho người người xem, tăng hiệu quả của thị trường bất động sản Việt Nam.
            </p>
        </div>
    </div>
</div>
