
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}
<style>
    .contentabct {
        background: url(../images/bgaboutcontact.png);
        min-height: 500px;
        padding-top: 15px;
        margin-bottom: 15px; 
    }

   .fa {
        padding: 7px;
        font-size: 20px;
        width: 42px;
        text-align: center;
        text-decoration: none;
        margin: 6px -1px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-google {
        background: #dd4b39;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-pinterest {
        background: #cb2027;
        color: white;
    }

    .fa-snapchat-ghost {
        background: #fffc00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .fa-skype {
        background: #00aff0;
        color: white;
    }

    .fa-android {
        background: #a4c639;
        color: white;
    }

    .fa-dribbble {
        background: #ea4c89;
        color: white;
    }

    .fa-vimeo {
        background: #45bbff;
        color: white;
    }

    .fa-tumblr {
        background: #2c4762;
        color: white;
    }

    .fa-vine {
        background: #00b489;
        color: white;
    }

    .fa-foursquare {
        background: #45bbff;
        color: white;
    }

    .fa-stumbleupon {
        background: #eb4924;
        color: white;
    }

    .fa-flickr {
        background: #f40083;
        color: white;
    }

    .fa-yahoo {
        background: #430297;
        color: white;
    }

    .fa-soundcloud {
        background: #ff5500;
        color: white;
    }

    .fa-reddit {
        background: #ff5700;
        color: white;
    }

    .fa-rss {
        background: #ff6600;
        color: white;
    }
</style>

<div class="form-group contentabct">
    <div class="container">
        <div class="row">
            <a href="https://www.facebook.com/giadinhtat.pham?fref=pb&hc_location=friends_tab" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-skype"></a>
        </div>

        <div class="row">
            <h2>Công ty TTHH T.A.T</h2>
            <p>
                TTHH T.A.T với bề dày kinh nghiệm trong tư vấn các bất động sản tại Sài Gòn như dự án, nhà và đất khu vực Quận 12.
            </p>
            <p>
                Điện thoại: (+84) 988 138 565 | Email: thachminh79@gmail.com
            </p>
            <p>
                Tầm nhìn<br />
                Trở thành sàn giao dịch bất động sản uy tín và chuyên nghiệp hàng đầu tại Sài Gòn.<br />
                Trở thành đơn vị sàn giao dịch có sức mạnh về truyền thông nhất<br />
                Sứ mạng<br />
                Cung cấp các dịch vụ bất động sản uy tín và chuyên nghiệp nhất.<br />
                Tư vấn chuyên sâu về bất động sản.<br />
                Đơn vị truyền thông về bất động sản<br />
                Người đi tìm tổ ấm<br />
                Triết lý kinh doanh<br />
                ” Tâm, Tín, Trí, Tình”<br />
                Cần có cái Tâm để thu phục Lòng người<br />
                Cần có cái Tín để gây dựng Thương hiệu<br />
                Cần có cái Trí để vượt qua Thử thách<br />
                Cần có cái Tình để dựng lòng Trung thành<br />
            </p>
        </div>

    </div>
</div>
