
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}
<style>
    .contentabct {
        background: url(../images/bgaboutcontact.png);
        min-height: 500px;
        padding-top: 15px;
        margin: 15px; 
    }
</style>

<div class="form-group contentabct">
    <div class="container">
        <div class="row" style="padding: 13px 0px; ">
            <h2>Công ty TTHH T.A.T</h2>
            <p>
                TTHH T.A.T với bề dày kinh nghiệm trong tư vấn các bất động sản tại Sài Gòn như dự án, nhà và đất khu vực Quận 12.
            </p>
            <p>
                <i class="icofont icofont-ui-head-phone"> </i>Điện thoại: (+84) 988 138 565 | <i class="icofont icofont-email"></i> Email: thachminh79@gmail.com
            </p>
            <p>
                Tầm nhìn<br />
                Trở thành sàn giao dịch bất động sản uy tín và chuyên nghiệp hàng đầu tại Sài Gòn.<br />
                Trở thành đơn vị sàn giao dịch có sức mạnh về truyền thông nhất<br />
                Sứ mạng<br />
                Cung cấp các dịch vụ bất động sản uy tín và chuyên nghiệp nhất.<br />
                Tư vấn chuyên sâu về bất động sản.<br />
                Đơn vị truyền thông về bất động sản<br />
                Người đi tìm tổ ấm<br />
                Triết lý kinh doanh<br />
                ” Tâm, Tín, Trí, Tình”<br />
                Cần có cái Tâm để thu phục Lòng người<br />
                Cần có cái Tín để gây dựng Thương hiệu<br />
                Cần có cái Trí để vượt qua Thử thách<br />
                Cần có cái Tình để dựng lòng Trung thành<br />
            </p>
        </div>

    </div>
</div>
