@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}

<div class="right_col" role="main" style="background-color: #ededed;">
    <img src="@Url.Content("~/Assets/Images/background.png")" style="width: 100%;" />
</div>
<style type="text/css">
    .nav_menu {
        margin-bottom: 0px;
    }
</style>