@model ProjectWebSaleLand.Shared.Model.Customer.CustomerModels
@{
    ViewBag.Title = "Khách hàng - Sửa";
    //Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Areas/Administration/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Quản lý" }, { "B", "Khách hàng" }, { "C", "Sửa" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitForm('#form-edit')"><i class="fa fa-save"></i>&nbsp;Lưu</a></li>
                                <li><a href="#" class="btn btn-danger" id="btn-delete" onclick="CloseDetail(); return false;"><i class="fa fa-times"></i>&nbsp;Hủy</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function (e) {
        $.ajax({
            url: $(this).attr('action'),
            type: "post",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function () {
                CloseDetail();
                Search();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".detail-view").html(jqXHR.responseText);
            }
        });
        e.preventDefault();
    });

    $(document).ready(function () {
        $('.datepicker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_2",
            maxDate: new Date()
        });

        $("#GenderStatusDdl").select2({
            placeholder: "làm ơn chọn giới tính",
            //allowClear: true
        });

        $("#MaritalStatusDdl").select2({
            placeholder: "Tình trạng hôn nhân!",
            //allowClear: true
        });
    });
</script>
