
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ";
}

<div class="form-group" style="height: 400px; padding-top: 15px; ">
    <div class="container">
        <div class="row">
            <h2>Về chúng tôi</h2>
            <p>
                Nhà Đất Thạch Minh là website chuyên về tin đăng BĐS, cung cấp các bất động sản thật, số liệu thị trường, thông tin khu vực và công cụ tính chi phí cũng như thời hạn trả góp của từng bất động sản.
            </p>
            <br />
            <p>
                Nhà Đất Thạch Minh là sân chơi của môi giới để đăng những BĐS thật và chất lượng, mang đến nhiều thông tin trung thực và tính minh bạch cao trên từng khu vực dành cho người người xem, tăng hiệu quả của thị trường bất động sản Việt Nam.
            </p>
        </div>
    </div>
</div>

